<h1>hello, Simple blog</h1>

<form action="/blog/create">
    <input type="text" name="irum" placeholder="작성자"><br>
    <textarea name="naeyong" placeholder="내용"></textarea><br>
    <input type="submit">
</form>






<% @posts.each do |p| %>
    <li><%=p.writer%> :
        <pre><%=p.content%></pre>
        <p><%=p.updated_at%></p>
        <a href="/blog/edit?id=<%=p.id%>">수정</a>
        <a href="/blog/destroy?id=<%=p.id%>">삭제</a>
    </li>
<% end %>